extends layout

block content
  .container
    header
      h1.welcome Welcome to #{title}
    
    section.messages
      h3 Messages:
      
      each message in messages
        .message
          h3.username= message.user
          p.message-text= message.text
          p.message-date= new Date(message.added).toLocaleString()

    footer
      button(onclick="redirectToNewPage()") Add a New Message
      script.
        function redirectToNewPage() {
          window.location.href = "/new";
        }